<!DOCTYPE html>
<html lang='en' data-theme='light'>
    <head>
        <meta charset='utf-8'>
        <meta name='content-type' content='text/html; charset=utf-8'>
        <title>{{#if title}}{{title}}{{else}}P52{{/if}}</title>
        <meta name='description' content='Companion app for the P52 Role Playing Game system.'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href='/css/pico.blue.min.css' rel='stylesheet'>
        <link href='/css/main.css' rel='stylesheet'>
    </head>

    <body id='page-{{page}}'>
        {{> header}}

        <main>
            {{{contents}}}
        </main>

        {{> footer}}

        <script type='module'>
            import main from '/scripts/app.js'
            main({{#if page}}'{{page}}'{{else}}null{{/if}})
        </script>
    </body>
</html>